<% if flash[:errors] %>
  <% flash[:errors].each do |error| %>
    <p><%= error %></p>
  <% end %>
<% end %>


<%= form_for @student do |f| %>

<%= f.label :name, "Enter your name:" %>
<%= f.text_field :name %>
</br></br>
<%= f.label :mod, "Enter your mod:" %>
<%= f.number_field :mod %>
</br></br>
<%= f.submit value = "Submit new student info" %>
  
<% end %>


<%#   create_table "ducks", force: :cascade do |t| %>
   <%#  t.string "name" %>
    <%# t.text "description" %>
   <%#  t.integer "student_id" %>
    <%# t.datetime "created_at", null: false %>
   <%#  t.datetime "updated_at", null: false %>
  <%# end %>

  <%# create_table "students", force: :cascade do |t| %>
   <%#  t.string "name" %>
    <%# t.integer "mod" %>
    <%# t.datetime "created_at", null: false %>
   <%#  t.datetime "updated_at", null: false %>
  <%# end %>